system/system/priv-app/MIUIBrowser/MIUIBrowser.apk
system/system/priv-app/MIUIMusic/MIUIMusic.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MIUIVideo/MIUIVideo.apk
system/system/data-app/MiShop/MiShop.apk
system/system/apex/com.android.vndk.current.apex
vendor/data-app/SmartHome/SmartHome.apk
